<html>
    <head>
        <title>Navbar</title>
        <link rel="stylesheet" href="/css/navbar.css">
    </head>
    <body>
         
        <header>
           <!--<img class="logo" src ="" alt="logo"> --> 
           <div class="logo">ITLOGOHERE</div>
            <nav>
                <ul class="nav__links">
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">about</a>
                    </li>
                </ul>
            </nav>
            <a class="cta" href="#"><button>contact</button></a>
        </header>
        
    </body>
</html>